In [2]:
%matplotlib inline

import pandas as pd
import numpy as np

import glob
import re

import matplotlib.pyplot as plt

from collections import Counter

### Read in the Data and a bit of Clean Up

In [3]:
###########################################
# create a function to combine data files #
###########################################

def frame_masher():
    # find all of the query files
    numbers = [1,4,5,6,7,11,12,15] # combine these datafiles
    query_files = []
    for num in numbers:
        file ='data/tea_party/tea_party{}.csv'.format(num)
        query_files.append(file)
    
    
    # empty list to add data frames to
    frame_list = []
    
    # iterate through the files to create one combined date frame
    for frame in query_files:
        df = pd.read_csv(frame)
        frame_list.append(df)
    joined = pd.concat(frame_list).reset_index()
    final = joined.drop('index',axis = 1)
    return final

In [4]:
# create the combined data frame
df = frame_masher()

# little bit of clean up
df = df.loc[df['job_id'] == '2572']

/usr/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (8,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (0,3,4,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (0,1,2,3,4,5,6,9,11,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (3,4,5,6,9,11,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [6]:
df['created_at']=pd.to_datetime(df['created_at'],format='%Y-%m-%d %H:%M:%S')
df['Month'] = df['created_at'].dt.month
df['Year'] = df['created_at'].dt.year
df['Day'] = df['created_at'].dt.day

### Clean up tweets

In [16]:
# Pre-process tweets

def processTweet(tweet):
    # process the tweets
    tweet = str(tweet)
    #Convert to lower case
    tweet = tweet.lower()
    #Convert www.* or https?://* to URL
    tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','URL',tweet)
    #Convert @username to AT_USER
    tweet = re.sub('@[^\s]+','AT_USER',tweet)
    #Remove additional white spaces
    tweet = re.sub('[\s]+', ' ', tweet)
    #Replace #word with word
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
    #trim
    tweet = tweet.strip('\'"')
    return tweet
#end

In [19]:
# create a function to iterate over an entire column of tweets and apply the processTweet function
def tweetCleaner(column):
    tweets = []
    for text in column:
        cleaned = processTweet(text)
        tweets.append(cleaned)
    return tweets

In [21]:
# write result to the data frame
df['tweet']= tweetCleaner(df['text'])

### Aggregate by how many terms per month

In [42]:
# here is a function that will count the occurances of a column per month and return a data frame

def dataAggregator(df,column):
    new = df.groupby(['Year','Month','Day'])[column].agg({'no':'count'})
    new.reset_index(level=[0,1,2], inplace=True)
    new['datetime'] = pd.to_datetime((new.Year*10000+new.Month*100+new.Day).apply(str),format='%Y%m%d')
    return new

In [43]:
dataAggregator(df,'job_id')

     Year  Month  Day     no   datetime
0    2014      8    5   5819 2014-08-05
1    2014      8    6  13722 2014-08-06
2    2014      8    7  10057 2014-08-07
3    2014      8    8   9876 2014-08-08
4    2014      8    9   7163 2014-08-09
5    2014      8   10   6632 2014-08-10
6    2014      8   11   8693 2014-08-11
7    2014      8   12   8567 2014-08-12
8    2014      8   13   9300 2014-08-13
9    2014      8   14  15388 2014-08-14
10   2014      8   15   8898 2014-08-15
11   2014      8   16   7304 2014-08-16
12   2014      8   17   6482 2014-08-17
13   2014      8   18   7503 2014-08-18
14   2014      8   19   9031 2014-08-19
15   2014      8   20   8000 2014-08-20
16   2014      8   21   6521 2014-08-21
17   2014      8   22   6501 2014-08-22
18   2014      8   23   4888 2014-08-23
19   2014      8   24   5554 2014-08-24
20   2014      8   25   6189 2014-08-25
21   2014      8   26   6520 2014-08-26
22   2014      8   27   6654 2014-08-27
23   2014      8   28   7945 2014-08-28
24   2014      8   29   6428 2014-08-29
25   2014      8   30   5512 2014-08-30
26   2014      8   31   5874 2014-08-31
27   2014      9    1   5663 2014-09-01
28   2014      9    2   6331 2014-09-02
29   2014      9    3   6495 2014-09-03
..    ...    ...  ...    ...        ...
266  2015     12   18   4199 2015-12-18
267  2015     12   19   4516 2015-12-19
268  2015     12   20   4158 2015-12-20
269  2015     12   21   4090 2015-12-21
270  2015     12   22   4381 2015-12-22
271  2015     12   23   4297 2015-12-23
272  2015     12   24   3652 2015-12-24
273  2015     12   25   2350 2015-12-25
274  2015     12   26   3145 2015-12-26
275  2015     12   27   2776 2015-12-27
276  2015     12   28   3281 2015-12-28
277  2015     12   29  69189 2015-12-29
278  2015     12   30   4278 2015-12-30
279  2015     12   31   3308 2015-12-31
280  2016      1    1   2826 2016-01-01
281  2016      1    2   4635 2016-01-02
282  2016      1    3   4684 2016-01-03
283  2016      1    4   5209 2016-01-04
284  2016      1    5   4043 2016-01-05
285  2016      1    6   4432 2016-01-06
286  2016      1    7   4800 2016-01-07
287  2016      1    8   4582 2016-01-08
288  2016      1    9   2876 2016-01-09
289  2016      4   15   3138 2016-04-15
290  2016      4   16   5034 2016-04-16
291  2016      4   17   4847 2016-04-17
292  2016      4   18   5965 2016-04-18
293  2016      4   19   5761 2016-04-19
294  2016      4   20   5127 2016-04-20
295  2016      4   21   6378 2016-04-21

[296 rows x 5 columns]

In [37]:
obama =df[df["tweet"].str.contains("obama")]
stupid =df[df["tweet"].str.contains("stupid")]

In [44]:
dataAggregator(stupid,'job_id')

     Year  Month  Day   no   datetime
0    2014      8    5   17 2014-08-05
1    2014      8    6   30 2014-08-06
2    2014      8    7   24 2014-08-07
3    2014      8    8   45 2014-08-08
4    2014      8    9   21 2014-08-09
5    2014      8   10   13 2014-08-10
6    2014      8   11   26 2014-08-11
7    2014      8   12   22 2014-08-12
8    2014      8   13   19 2014-08-13
9    2014      8   14   35 2014-08-14
10   2014      8   15   53 2014-08-15
11   2014      8   16   37 2014-08-16
12   2014      8   17   14 2014-08-17
13   2014      8   18   17 2014-08-18
14   2014      8   19   14 2014-08-19
15   2014      8   20   21 2014-08-20
16   2014      8   21   20 2014-08-21
17   2014      8   22   15 2014-08-22
18   2014      8   23    8 2014-08-23
19   2014      8   24   13 2014-08-24
20   2014      8   25   22 2014-08-25
21   2014      8   26   31 2014-08-26
22   2014      8   27   21 2014-08-27
23   2014      8   28   16 2014-08-28
24   2014      8   29   20 2014-08-29
25   2014      8   30   19 2014-08-30
26   2014      8   31   53 2014-08-31
27   2014      9    1   24 2014-09-01
28   2014      9    2   36 2014-09-02
29   2014      9    3   15 2014-09-03
..    ...    ...  ...  ...        ...
265  2015     12   18    8 2015-12-18
266  2015     12   19    4 2015-12-19
267  2015     12   20    1 2015-12-20
268  2015     12   21   13 2015-12-21
269  2015     12   22   13 2015-12-22
270  2015     12   23    8 2015-12-23
271  2015     12   24    9 2015-12-24
272  2015     12   25    3 2015-12-25
273  2015     12   26   18 2015-12-26
274  2015     12   27    8 2015-12-27
275  2015     12   28    9 2015-12-28
276  2015     12   29    6 2015-12-29
277  2015     12   30    5 2015-12-30
278  2015     12   31    6 2015-12-31
279  2016      1    1    6 2016-01-01
280  2016      1    2    2 2016-01-02
281  2016      1    3    7 2016-01-03
282  2016      1    4    4 2016-01-04
283  2016      1    5    8 2016-01-05
284  2016      1    6    7 2016-01-06
285  2016      1    7    7 2016-01-07
286  2016      1    8    8 2016-01-08
287  2016      1    9   37 2016-01-09
288  2016      4   15    6 2016-04-15
289  2016      4   16   10 2016-04-16
290  2016      4   17   15 2016-04-17
291  2016      4   18   24 2016-04-18
292  2016      4   19    4 2016-04-19
293  2016      4   20  103 2016-04-20
294  2016      4   21   22 2016-04-21

[295 rows x 5 columns]

In [45]:
dataAggregator(obama,'job_id')

     Year  Month  Day   no   datetime
0    2014      8    5  383 2014-08-05
1    2014      8    6  638 2014-08-06
2    2014      8    7  770 2014-08-07
3    2014      8    8  414 2014-08-08
4    2014      8    9  421 2014-08-09
5    2014      8   10  408 2014-08-10
6    2014      8   11  418 2014-08-11
7    2014      8   12  355 2014-08-12
8    2014      8   13  273 2014-08-13
9    2014      8   14  673 2014-08-14
10   2014      8   15  286 2014-08-15
11   2014      8   16  315 2014-08-16
12   2014      8   17  292 2014-08-17
13   2014      8   18  341 2014-08-18
14   2014      8   19  508 2014-08-19
15   2014      8   20  447 2014-08-20
16   2014      8   21  307 2014-08-21
17   2014      8   22  279 2014-08-22
18   2014      8   23  307 2014-08-23
19   2014      8   24  246 2014-08-24
20   2014      8   25  407 2014-08-25
21   2014      8   26  230 2014-08-26
22   2014      8   27  446 2014-08-27
23   2014      8   28  452 2014-08-28
24   2014      8   29  744 2014-08-29
25   2014      8   30  267 2014-08-30
26   2014      8   31  311 2014-08-31
27   2014      9    1  237 2014-09-01
28   2014      9    2  397 2014-09-02
29   2014      9    3  326 2014-09-03
..    ...    ...  ...  ...        ...
266  2015     12   18  190 2015-12-18
267  2015     12   19  209 2015-12-19
268  2015     12   20  348 2015-12-20
269  2015     12   21  189 2015-12-21
270  2015     12   22  218 2015-12-22
271  2015     12   23  412 2015-12-23
272  2015     12   24  235 2015-12-24
273  2015     12   25   81 2015-12-25
274  2015     12   26  150 2015-12-26
275  2015     12   27  246 2015-12-27
276  2015     12   28  217 2015-12-28
277  2015     12   29  231 2015-12-29
278  2015     12   30  184 2015-12-30
279  2015     12   31  117 2015-12-31
280  2016      1    1  201 2016-01-01
281  2016      1    2  512 2016-01-02
282  2016      1    3  243 2016-01-03
283  2016      1    4  199 2016-01-04
284  2016      1    5  388 2016-01-05
285  2016      1    6  282 2016-01-06
286  2016      1    7  304 2016-01-07
287  2016      1    8  336 2016-01-08
288  2016      1    9  100 2016-01-09
289  2016      4   15  114 2016-04-15
290  2016      4   16  121 2016-04-16
291  2016      4   17   78 2016-04-17
292  2016      4   18   51 2016-04-18
293  2016      4   19   78 2016-04-19
294  2016      4   20  152 2016-04-20
295  2016      4   21   60 2016-04-21

[296 rows x 5 columns]